<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.arsenarsen.userbot.logging.LogFilter" />
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm} %c{0} %t %-5level] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>